mat-card{
    width:90vw;
    max-height: 63vh;
    margin-right:0;

}
img{
    max-height:80%;    
    max-width:20vw;
}
.left,.right{
    top:0;
}
.left{
    left:0;
}
.right{
    right:0;
    max-width:20vwvw;
    padding-left:2vw;
    overflow:auto;
    max-height:55vh;
    text-align: justify;

}