  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidebarnav (sidenavClose)="sidenav.close()"></app-sidebarnav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="container">
        <div class="header">
          <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        </div>
        <div class="content">
          <main>
            <router-outlet></router-outlet>
          </main>
        </div>
        <div class="footer">
          <app-footer></app-footer>
        </div>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>